footer {

    #footer-title {
        margin: 0 auto;
        @include HW(5%, 80%);
        
        position: relative;
        top: 70px;
        

        p {
            width: 32%;
            border-bottom: 5px solid $mGreen;
        }
    }

    #footer-middle {
        margin: 0 auto;
        @include HW(80%, 80%);
        @include flex(flex-start, center, row);
       

        form {
            
            @include HW(70%, 60%);
            @include flex(space-around, flex-start, column);
            position: relative;
            top: 5%;

            input {
                padding: 10px;
                width: 100%;
                @include text(3rem, $mBoxgr);
                border: 2px solid $mBoxgr;

            }

            textarea:nth-child(3) {
                height: 55%;
                padding: 10px;
                width: 100%;
                @include text(3rem, $mBoxgr);
                border: 2px solid $mBoxgr;
                resize: none;

            }
        }

        #input-right {
            
            @include HW(70%, 40%);
            @include flex(space-around, center, column);
            position: relative;
            top: 5%;


            #input-chair {
                @include HW(50%, 100%);
                background-image: url(/images/chair-2.png);
                background-position: center;
                background-repeat: no-repeat;
            }

            #form {

                margin: 0 auto;
                @include HW(10%, 75%);
                @include flex(space-around, center, row);


                p {
                    padding-left: 5%;
                    @include text(1.2rem, $mBoxgr);
                }

                img {
                    border: 2px solid $mBoxgr;
                    padding: 5px;
                }

            }

            button {
                @extend %button;
                margin: 0 auto 7% auto;
                @include HW(20%, 75%);
                @include text(2rem, $mWhite);
                font-weight: bold;
            }
        }

    }

    #footer-bottom {


        bottom-wrapper {
            @include HW(100%, 80%);
            @include flex(space-between, flex-end, row);
            @include text(1.2rem, $mBoxgr);
            margin: 0 auto;
           

            ul {
                list-style: none;
                @include HW(100%, 20%);
                @include flex(center, center, row);
                

                #log1 {
                    background-image: url(/images/flickr.png);
                    @extend %log;
                    
                }

                #log2 {
                    background-image: url(/images/vimeo.png);
                    @extend %log;
                 
                }

                #log3 {
                    background-image: url(/images/pinterest.png);
                    @extend %log;
                  
                }

                #log4 {
                    background-image: url(/images/twitter.png);
                    @extend %log;
            
                }

            }

            p:nth-child(3) {
                font-weight: bold;

                span {
                    color: $listD;
                }
            }

        }



    }


}